html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f0f0f0;
  padding: 1.5rem 3rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.btn {
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  background: #fff;
  outline: none;
  font-size: 1rem;
  width: 3.5rem;
}

.btn.btn-outline {
  background: none;
  border: none;
}

.btn.btn-outline:focus {
  outline: none;
}

input::placeholder {
  font-size: 0.7rem;
}

.minus-margin {
  margin-top: -0.8rem;
}

.hidden {
  opacity: 0;
}

/*********************
 MAIN HEADER
*********************/
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome-message {
  font-size: 1.3rem;
}

.logo {
  width: 3.2rem;
}

.login-form__input {
  width: 7rem;
  text-align: center;
  padding: 0.5rem 0.8rem;
  border-radius: 60px;
  border: none;
  outline: none;
}

button[type='submit']:focus,
.login-form__input:focus {
  outline: 1px solid #d2d2d2;
}

.inp {
  width: 7.5rem;
  border-radius: 8px;
  border: none;
  outline: none;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

/*********************
 MAIN
*********************/
main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 68rem;
  margin: 0 auto;
  align-items: center;
  gap: 1.5rem;
  transition: all 0.3s ease-in;
}

.balance-info {
  grid-column: span 3;
}

.balance-info__label {
  font-size: 2rem;
  margin-bottom: 0.1rem;
  font-weight: normal;
}

.balance-info__date-label {
  font-size: 0.9rem;
  color: #666;
}

.balance-money {
  justify-self: flex-end;
  font-size: 2rem;
  grid-column: span 2;
}

.movements {
  grid-column: span 3;
  grid-row: span 3;
  height: 30rem;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.movement__row {
  display: flex;
  padding: 1.5rem 3rem;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #d2d2d2;
}

.movement-type {
  padding: 0.2rem 0.4rem;
  border-radius: 60px;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.movement__deposit {
  background-color: #02be02;
}

.movement__withdrawal {
  background-color: #c50000;
}

.movement-date {
  font-size: 0.8rem;
}

.movement-money {
  margin-left: auto;
  font-weight: bold;
}

.transfer-money,
.request-loan,
.close-account {
  grid-column: span 2;
  height: 100%;
  border-radius: 0.8rem;
}

.card {
  padding: 1rem 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card h2 {
  font-size: 1.3rem;
  margin-top: 1.1rem;
  margin-bottom: 0.5rem;
}

.card__form {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: center;
  justify-items: center;
  gap: 0.5rem;
}

.card__label {
  margin-top: 0.3rem;
  font-size: 0.9rem;
}

.transfer-money {
  background: linear-gradient(to right bottom, #ffd78c, #ffa500);
}

.transfer-money .inp {
  background-color: #ffd78c;
}

.request-loan {
  background: linear-gradient(to right bottom, #8cff8c, green);
}

.request-loan .btn {
  grid-column: span 2;
  justify-self: left;
}

.request-loan .inp {
  background-color: #8cff8c;
}

.close-account {
  background: linear-gradient(to right bottom, #ff8c8c, red);
}

.close-account .inp {
  background-color: #ff8c8c;
}

.summary {
  grid-column: span 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: -1rem; */
}

.summary span {
  font-weight: bold;
}

.incomes {
  color: #02be02;
}

.outflows {
  color: #c50000;
}

.interest {
  color: #02be02;
}

.summary .btn-sort {
  background: none;
  border: none;
  outline: none;
}

.timer {
  grid-column: span 2;
  justify-self: end;
  font-size: 0.8rem;
}

.timer .time {
  font-weight: bold;
}
